@{
    ViewBag.Title = "Home Page";
}

<p>
    <h2>Welcome, @User.Identity.Name.</h2>
</p>
<div class="friendNews">
    <div class="postBox">
        <div class="profpic">
            <img src="~/Content/images/trees.jpg" />
        </div>
        <p class="emptyPost">
            <input type="text" />
        </p>
        <div class="postButton">
             <button type="button" class="btn btn-outline-secondary">post</button>
        </div>
    </div>
    <div class="postBox">
        <div class="profpic">
            <img src="~/Content/images/man-303792_640.png" />
        </div>
        <p class="postBox-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </div>
    <div class="postBox">
        <div class="profpic">
            <img src="~/Content/images/man-303792_640.png" />
        </div>
        <p class="postBox-content">
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </div>
    <div class="postBox">
        <div class="profpic">
            <img src="~/Content/images/man-303792_640.png" />
        </div>
        <p class="postBox-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </p>
    </div>
    <div class="postBox">
        <div class="profpic">
            <img src="~/Content/images/man-303792_640.png" />
        </div>
        <p class="postBox-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        </p>
    </div>
    <div class="postBox">
        <div class="profpic">
            <img src="~/Content/images/man-303792_640.png" />
        </div>
        <p class="postBox-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        </p>
    </div>
</div>

