@{
    ViewBag.Title = "Home Page";
}

<p>

</p>
@*@if (User.Identity.IsAuthenticated)
{
   <div class="row">
    <div class="nav-menu image overlay">
        <div class="list-group">
            <a href="~/Home/Index" class="list-group-item list-group-item-action active">
                Home
            </a>
            <a href="~/Contact" class="list-group-item list-group-item-action">
                Contacts
            </a>
            <a href="~/Interest/Index" class="list-group-item list-group-item-action">
                Your Interests
            </a>
            <a href="#" class="list-group-item list-group-item-action disabled">
                Favorites
            </a>
        </div>
    </div>
    <div class="col-md-4">
        <h2></h2>
    </div>
</div>
}*@

